.Card
  background-color: $colorCardBackground
  border-radius: 20px
  box-sizing: border-box
  display: flex
  flex-direction: column
  justify-content: space-between
  min-height: 100px
  //height: 100px
  //margin-bottom: 5%
  padding: 10px
  width: calc(100vw / 6)
  @media screen and (max-width: 1000px)
    width: calc(100vw / 3)
  @media screen and (max-width: 600px)
    width: calc(100vw / 2)
  @media screen and (max-width: 400px)
    width: 70vw
  &:hover
    background: $colorCardHoveredBackground
    box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50)
    cursor: pointer
  &-Pictogram
    margin-bottom: 10px
  //background: transparent url(./assets/icon_temperature.svg) no-repeat left bottom
  //height: 1.5rem
  //width: 100%
  &-Status
    color: $colorTextGrey
    font-size: 0.75em
    font-weight: normal
    margin-top: 5px

.Card--fullScreen
  background-color: rgba(51, 51, 51, 0.5)
  bottom: 0
  display: flex
  align-items: center
  justify-content: center
  left: 0
  overflow: hidden
  position: fixed
  right: 0
  top: 0
  z-index: 30
.gadgetWrap
  max-width: 55%
  @media screen and (max-width: 800px) and (orientation: portrait)
    max-width: 90%
.gadget
  background: $colorCardFullScreenBackground
  border-radius: 20px
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  padding: 3vh
.gadget-Header
  display: flex
  font-size: 1.6875rem
  font-weight: bold
  justify-content: space-between
  margin-bottom: 2vh
  width: 100%
.gadget-Title
.gadget-Status
  font-size: 1rem
  font-weight: normal
.gadget-InfoText
  font-size: 2.25rem
.gadget-Icon
  display: inline-block

// Gadget AirTemperature
.gadget-Presets
  display: flex
  margin-bottom: 2vh
  width: 100%
.gadget-Variants
  background: $colorVariantBackground
  border-radius: 20px
  cursor: pointer
  padding: 0.4rem 0.8rem
  &.active
    background: $colorVariantActiveBackground
  &:not(:last-child)
    margin-right: 1vh
.gadget-SliderBox
  border-radius: 30px
  box-sizing: border-box
  display: flex
  height: 60px
  overflow: hidden
  padding: 0 3.5%
  position: relative
  vertical-align: middle
  width: 100%
  @media screen and (max-width: 800px) and (orientation: portrait)
    max-height: 75vh
    min-height: 45vh
    padding: 3.5% 0
    width: 65px
.gadget-Limits
  align-items: center
  display: flex
  color: $colorGadgetLimits
  font-size: 1.125rem
  justify-content: space-between
  text-align: center
  width: 100%
  @media screen and (max-width: 800px) and (orientation: portrait)
    box-sizing: border-box
    flex-direction: column-reverse
    font-size: 2.2rem
    height: 100%
    line-height: 1
    position: static
    transform: none
.gadget-Slider
  border: 3px solid rgba(51,51,51,0.10)
  box-shadow: 0 0 0 3px #FFFFFF
  border-radius: 50%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  cursor: pointer
  height: 65px
  position: absolute
  top: -2px
  width: 65px

// Gadget Lights
.gadget-SliderBox--temperature
  background: linear-gradient( to right, $colorGadgetAirTemperatureSliderGradient1, $colorGadgetAirTemperatureSliderGradient2, $colorGadgetAirTemperatureSliderGradient3)
  @media screen and (max-width: 800px) and (orientation: portrait)
    background: linear-gradient( to bottom, $colorGadgetAirTemperatureSliderGradient3, $colorGadgetAirTemperatureSliderGradient2, $colorGadgetAirTemperatureSliderGradient1)
.gadget-SliderBox--lightControl
  background-image: linear-gradient(to right, $colorGadgetLightSliderGradient1 2%, $colorGadgetLightSliderGradient2 98%)
  @media screen and (max-width: 800px) and (orientation: portrait)
    background: linear-gradient( to bottom, $colorGadgetLightSliderGradient2 2%, $colorGadgetLightSliderGradient1 98%)
  & .gadget-LimitMin
    background: url("../img/icons/icon_sun_min.svg") no-repeat center center
    background-size: cover
    display: inline-block
    min-height: 3.5vmax
    min-width: 3.5vmax
  & .gadget-LimitMax
    background: url("../img/icons/icon_sun_max.svg") no-repeat center center
    background-size: cover
    display: inline-block
    min-height: 3.5vmax
    min-width: 3.5vmax

// Gadget FloorTemperature
.gadget-CircleControlBox
  align-items: center
  display: flex
  height: 30vh
  justify-content: center
  position: relative
  width: 30vh
.gadget-Circle
  align-items: center
  border-radius: 50%
  background: #FEFEFE
  box-shadow: 0 2px 4px 0 rgba(134,121,71,0.45)
  display: flex
  height: 20vh
  justify-content: center
  position: relative
  width: 20vh
.gadget-NewValue
  font-size: 8vh
.gadget-Ray
  position: absolute
  transform-origin: right center
  width: 10vh
  @for $i from 0 through 90
    &.deg#{$i*3-45}
      transform: translateX(-50%) rotate($i*3-45deg)
  &::before
    background-color: $colorGadgetCircleControlRayActive
    content: ''
    height: 2px
    left: -2.5vh
    position: absolute
    width: 2.5vh
  &.active ~ &::before
    background-color: $colorGadgetCircleControlRay
  &.active::after
    border: 1vh solid transparent
    border-right: 1vh solid #333333
    content: ''
    left: -0.7vh
    position: absolute
    top: -0.85vh
    z-index: 5


// Gadget Confirm Buttons
.gadget-ConfirmForm
  margin-top: 2.5vh
  display: flex
  justify-content: space-between
  @media screen and (max-width: 800px) and (orientation: portrait)
    flex-wrap: wrap
    margin-top: 1.5vh
.gadget-FormButtons
  background: $colorCardFullScreenBackground
  border: none
  border-radius: 20px
  cursor: pointer
  font-size: 1.125rem
  font-weight: bold
  height: 60px
  justify-content: space-between
  width: 49%
  &.active
    background-color: $colorGadgetFormButtonsActiveBackground
  @media screen and (max-width: 800px) and (orientation: portrait)
    margin-bottom: 1.5vh
    width: 100%