$colorTextGrey: #858585
$colorTextMain: #333333
$colorSectionBorder: #F0F0F0
$colorCardBackground: #F7F7F7
$colorCardHoveredBackground: #FFFFFF
$colorTagActiveBackground: #FFD93E

html
  color: $colorTextMain
  font-family: Arial-BoldMT, ArialMT, Arial, "Helvetica Neue", Helvetica, sans-serif
  font-size: 16px
  font-weight: bold
  //background-color: antiquewhite
body
  //display: flex
  //flex-direction: column
  //justify-content: space-between
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 1fr 5fr 2fr 0.7fr
  margin: 0
  height: 100vh
  padding: 0

.container
  padding-left: 2%
  padding-right: 2%
  //max-width: 96vw
  //margin: 0 auto

.yandexFL
  display: inline-block
  &::first-letter
    color: #ff0000

.linkBack
  display: inline-block
  background:  url(../img/icons/arrow_1x.png) no-repeat center center
  height: 1em
  width: 1em
.linkForward
  display: inline-block
  background:  url(../img/icons/arrow_1x.png) no-repeat center center
  height: 1em
  transform: scale(-1)
  width: 1em

.Nav
  align-items: center
  display: flex
  list-style: none
  margin: 0
  padding: 0
  &-Item
    margin-right: 2.5%
    opacity: 0.6
    &--active
      opacity: 1
  &-Link
    color: $colorTextMain
    text-decoration: none

.Header
  align-items: center
  //background-color: azure
  border-bottom: $colorSectionBorder 1px solid
  display: flex
  //height: 11vh
  &-LogoBox
    margin-right: 4%
  &-Navigation
    width: 100%

.Content
  display: grid
  grid-gap: 2%
  grid-template-columns: 1fr 1fr
  grid-template-rows: max-content
//height: 52vh

.Footer
  align-items: center
  color: $colorTextGrey
  display: flex
  font-weight: normal
  //height: 8vh
  justify-content: space-between
  &-Navigation
    width: 60%
  &-Copyrights
    text-align: right
    // ms edge13 can't t-a:end
    //text-align: end
    width: 35%
  &-CopyrightsLink
    color: $colorTextGrey
    margin-left: 5%
    text-decoration: none