$colorTextGrey: #858585
$colorTextMain: #333333
$colorSectionBorder: #F0F0F0
$colorCardBackground: #F7F7F7
$colorCardHoveredBackground: #FFFFFF
$colorCardFullScreenBackground: #FFFFFF
$colorTagActiveBackground: #FFD93E
$colorVariantBackground: #F2F1F0
$colorVariantActiveBackground: #FFD93E
$colorGadgetAirTemperatureSliderGradient1: #068FFF
$colorGadgetAirTemperatureSliderGradient2: #FFD800
$colorGadgetAirTemperatureSliderGradient3: #F76B1C
$colorGadgetLimits: #FFFFFF
$colorGadgetFormButtonsActiveBackground: #FFD93E
$colorGadgetCircleControlRay: #858585
$colorGadgetCircleControlRayActive: #FFD93E
$colorGadgetLightSliderGradient1: #FFE682
$colorGadgetLightSliderGradient2: #FF9E00
$colorMobileMenu: #FFFFFF

html
  color: $colorTextMain
  font-family: Arial-BoldMT, ArialMT, Arial, "Helvetica Neue", Helvetica, sans-serif
  font-size: 16px
  font-weight: bold
  //background-color: antiquewhite
  @media screen and (max-width: 1000px)
    font-size: 12px

body
  //display: flex
  //flex-direction: column
  //justify-content: space-between
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 1fr 5fr 2fr 0.7fr
  margin: 0
  height: 100vh
  padding: 0
  @media screen and (max-width: 1000px)
    grid-gap: 2vmin
    grid-template-rows: repeat(4, auto)
    height: auto
    max-width: 100vw

.container
  padding-left: 2%
  padding-right: 2%
  //max-width: 96vw
  //margin: 0 auto

.yandexFL
  display: inline-block
  &::first-letter
    color: #ff0000

@mixin visually-hidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

*:focus
  box-shadow: -2px 0 10px 0 red, 0 -2px 10px 0 red, 2px 0 10px 0 red, 0 2px 10px 0 red

.scrollWrapper
  overflow: hidden

.linkBack, .linkForward
  cursor: pointer
  background-color: transparent
  border: none

.Nav
  align-items: center
  display: flex
  //flex-wrap: wrap
  list-style: none
  margin: 0
  padding: 0
  &-Item
    margin-right: 2.5%
    opacity: 0.4
    padding: 0
    min-width: 1.5rem
  &-Item:hover
    background-color: #f2ebd6
    &--active
      opacity: 1
  &-Link
    color: $colorTextMain
    text-decoration: none
  @media screen and (max-width: 650px)
    align-content: center
    justify-content: center

.Header
  align-items: center
  //background-color: azure
  border-bottom: $colorSectionBorder 1px solid
  display: flex
  justify-content: space-between
  //height: 11vh
  &-LogoBox
    margin-right: 4%
  &-Navigation
    width: 100%
    @media screen and (max-width: 1000px)
      //background: $colorCardHoveredBackground
      cursor: pointer
      //justify-self: self-end
      height: 25px
      position: fixed
      right: 2vw
      width: 25px
      & .Nav
        display: none
        //@include visually-hidden
      &--fullscreen
        align-items: center
        background: rgba(0,0,0,0.5)
        bottom: 0
        cursor: initial
        display: flex
        justify-content: center
        height: 100vh
        left: 0
        position: fixed
        right: 0
        top: 0
        width: 100vw
        z-index: 20
        & .Nav
          color: $colorMobileMenu
          display: initial
          font-size: 3rem
          &-Link
            color: $colorMobileMenu
            background: linear-gradient(currentColor, currentColor) no-repeat center bottom
            background-size: 0 2px
            transition: background-size .5s
            &:hover
              background-size: 100% 2px //underline links
  &-SiteMenu
    background-color: transparent
    border: none
    box-sizing: border-box
    display: none
    cursor: pointer
    font-size: 0
    height: 25px
    padding: 0
    width: 25px
    @media screen and (max-width: 1000px)
      display: block
      &--fullscreen
        position: absolute
        right: 2vw
        top: 2vw

  &-Hamburger
    @media screen and (max-width: 1000px)
      display: block
      position: relative
      &, &::before, &::after
        background-color: $colorTextGrey
        content: ''
        display: inline-block
        height: 2px
        width: 25px
      &::before, &::after
        left: 0
        position: absolute
      &::before
        top: -10px
      &::after
        bottom: -10px
      &--fullscreen
        background-color: $colorCardBackground
        transform: rotate(45deg)
        &::before
          background-color: $colorCardBackground
          top: 0
          transform: rotate(90deg)
        &::after
          display: none

.Content
  display: grid
  grid-gap: 2%
  grid-template-columns: 49% 49%
  grid-template-rows: max-content
  @media screen and (max-width: 1000px)
    grid-template-columns: 1fr

.Footer
  align-items: center
  color: $colorTextGrey
  display: flex
  font-weight: normal
  //height: 8vh
  justify-content: space-between
  &-Navigation
    width: 60%
  &-Copyrights
    text-align: right
    // ms edge13 can't t-a:end
    //text-align: end
    width: 35%
  &-CopyrightsLink
    color: $colorTextGrey
    margin-left: 5%
    text-decoration: none
  @media screen and (max-width: 650px)
    flex-direction: column
    margin-top: 3vw
    margin-bottom: 3vw
    &-Copyrights
      text-align: center
      width: 90%
    &-Navigation
      margin-bottom: 3vw
      width: 90%