$colorTextGrey: #858585
$colorTextMain: #333333
$colorSectionBorder: #F0F0F0
$colorCardBackground: #F7F7F7
$colorCardHoveredBackground: #FFFFFF
$colorTagActiveBackground: #FFD93E

html
  color: $colorTextMain
  font-family: Arial-BoldMT, ArialMT, Arial, "Helvetica Neue", Helvetica, sans-serif
  font-size: 16px
  font-weight: bold
  //background-color: antiquewhite
  @media screen and (max-width: 1000px)
    font-size: 12px
body
  //display: flex
  //flex-direction: column
  //justify-content: space-between
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 1fr 5fr 2fr 0.7fr
  margin: 0
  height: 100vh
  padding: 0
  @media screen and (max-width: 1000px)
    grid-gap: 2vmin
    grid-template-rows: repeat(4, auto)
    height: auto
    max-width: 100vw

.container
  padding-left: 2%
  padding-right: 2%
  //max-width: 96vw
  //margin: 0 auto

.yandexFL
  display: inline-block
  &::first-letter
    color: #ff0000

.linkBack
  display: inline-block
  background:  url(../img/icons/arrow_1x.png) no-repeat center center
  height: 1em
  width: 1.5em
.linkForward
  display: inline-block
  background:  url(../img/icons/arrow_1x.png) no-repeat center center
  height: 1em
  transform: scale(-1)
  width: 1.5em

.Nav
  align-items: center
  display: flex
  //flex-wrap: wrap
  list-style: none
  margin: 0
  padding: 0
  &-Item
    margin-right: 2.5%
    opacity: 0.6
    &--active
      opacity: 1
  &-Link
    color: $colorTextMain
    text-decoration: none
  @media screen and (max-width: 650px)
    align-content: center
    justify-content: center

.Header
  align-items: center
  //background-color: azure
  border-bottom: $colorSectionBorder 1px solid
  display: flex
  justify-content: space-between
  //height: 11vh
  &-LogoBox
    margin-right: 4%
  &-Navigation
    width: 100%
    @media screen and (max-width: 1000px)
      //justify-self: self-end
      width: 25px
      & .Nav
        display: none
  &-Hamburger
    display: none
    @media screen and (max-width: 1000px)
      display: block
      position: relative
      &, &::before, &::after
        background-color: $colorTextGrey
        content: ''
        display: inline-block
        height: 2px
        position: absolute
        width: 25px
      &::before
        top: -10px
      &::after
        bottom: -10px


.Content
  display: grid
  grid-gap: 2%
  grid-template-columns: 1fr 1fr
  grid-template-rows: max-content
  @media screen and (max-width: 1000px)
    grid-template-columns: 1fr

.Footer
  align-items: center
  color: $colorTextGrey
  display: flex
  font-weight: normal
  //height: 8vh
  justify-content: space-between
  &-Navigation
    width: 60%
  &-Copyrights
    text-align: right
    // ms edge13 can't t-a:end
    //text-align: end
    width: 35%
  &-CopyrightsLink
    color: $colorTextGrey
    margin-left: 5%
    text-decoration: none
  @media screen and (max-width: 650px)
    flex-direction: column
    margin-top: 3vw
    margin-bottom: 3vw
    &-Copyrights
      text-align: center
      width: 90%
    &-Navigation
      margin-bottom: 3vw
      width: 90%